* {
    margin: 0;
    padding: 0;
}

body {
    font-family:Consolas,Monaco,"Andale Mono",monospace;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.container {
    height: 80vh;
    padding: 30px;
    text-align: center;
    background-color: brown;
}

.info {
    height: 70vh;
}

header, footer {
    background-color: rgba(0, 225, 255, 0.849);
    height: 5vh;
    text-align: center;
    font-size: 25px;
    padding: 10px;
}

nav a {
    text-decoration: underline; 
    font-weight: bold;
    color: black;
}

.info h2, .formulaire h2  {
    padding-top: 1%;
    padding-bottom: 1%;
}

.info p {
    line-height: 30px;
}
