<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/style.css">
    <title>Tuto Udemy</title>
</head>
<body>
    <% include ./partials/header %>
    
    <div class="container">

        <h1>Tuto nodeJS + express sur Udemy</h1>

        <p>Plutôt film ou série ??</p>
    
    </div>
    
    <% include ./partials/footer %>
</body>
</html>